.App {
  height: 100vh;
  width: 100vw;
}

.buttons-grid {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fill, 200px);

  margin: 20px;
}

.header {
  height: 300px;
}

.primary-background {
  position: relative;
  overflow: hidden;
}

.primary-background::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-image: url('./assets/primary-background.svg');
  transform: rotate(11deg);
  background-repeat: repeat-x;
}
