.App {
  height: 100vh;
  width: 100vw;
}

.buttons-grid {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fill, 200px);

  margin: 20px;
}

.header {
  height: 300px;
}

.primary-background {
  background-image: url('./assets//primary-background.svg');
}